@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-orange: #f37335;
  --primary-green: #34a853;
}

body {
  box-sizing: border-box;
}

html {
  font-family: "Mukta", sans-serif;
  font-size: 43.75%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 478px) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Progress bar number */
/* Progress bar indicator lines */
.multistep-form__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  min-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 6px;
}

.progress-bar {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0 0 0;
  font-size: 0.8em;
  color: #121f1a;
  /* Progress bar numbers */
  /* Progress bar indicator lines */
}
.progress-bar > li {
  position: relative;
}
.progress-bar > li:nth-child(1)::before {
  content: "1";
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  background-color: var(--primary-orange);
  padding: 0 0 0 1.28rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  line-height: 3.5rem;
}
.progress-bar > li:nth-child(2)::before {
  content: "2";
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  background-color: var(--primary-orange);
  padding: 0 0 0 1.28rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  line-height: 3.5rem;
}
.progress-bar > li:nth-child(3)::before {
  content: "3";
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  background-color: var(--primary-orange);
  padding: 0 0 0 1.28rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  line-height: 3.5rem;
}
.progress-bar > li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: -2.25rem;
  left: 60%;
  background-color: var(--primary-orange);
  width: 12rem;
  height: 0.15rem;
}
.progress-bar > li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -2.25rem;
  left: 60%;
  background-color: var(--primary-orange);
  width: 12rem;
  height: 0.15rem;
}

.form {
  position: relative;
  text-align: center;
  min-height: 40rem;
  min-width: 65rem;
  overflow: hidden;
}
.form h3 {
  color: #414141;
}
.form fieldset {
  padding: 3rem 2rem;
  border: none;
}
.form fieldset:nth-child(2), .form fieldset:nth-child(3) {
  transform: translateX(110%);
}
.form label {
  display: none;
}
.form input {
  width: 80%;
  margin: 1rem 0;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.form input::placeholder {
  font-weight: 300;
  font-size: 1em;
}
.form input:focus {
  outline: none;
  box-shadow: 1px 1px 4px 2px #ebd4ab;
}

.button {
  margin: 2.5rem 0.5rem 0;
  padding: 0.45em 0.25em;
  min-width: 6em;
  font-size: 1.8rem;
  color: #fff;
  background-color: var(--primary-orange);
  border: none;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.2s;
}
.button:hover, .button:active {
  cursor: pointer;
  background-color: #f4844d;
}
.button:active {
  box-shadow: none;
}

/* fieldsets */
.form-step {
  position: absolute;
  inset: 1rem;
  background-color: #fff;
  min-width: 60rem;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#form-step-1 {
  z-index: 3;
}

#form-step-2 {
  z-index: 2;
}

#form-step-3 {
  z-index: 1;
}

.disappear {
  animation-name: disappear;
}

.appear {
  animation-name: appear;
}

/* Animations */
@keyframes grow {
  from {
    width: 0rem;
  }
  to {
    width: 12rem;
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
