.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  justify-items: center;
}

.weekday {
  display: flex;
  gap: 1rem;
  color: var(--current-blue);
}

.weekday:hover {
  cursor: pointer;
}

.days__day {
  width: 2.25em;
  height: 2.25em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days__day:hover {
  cursor: pointer;
  background-color: var(--hover-blue);
}

.today {
  color: var(--current-blue);
}

.days--previous,
.days--next {
  color: var(--primary-gray);
}

.days--previous:hover,
.days--next:hover,
.weekend:hover {
  cursor: default;
  background-color: transparent;
}

.in-range {
  background-color: var(--hover-blue);
}

.weekend {
  color: var(--primary-red);
  background-color: transparent;
}

.selected-day-outline {
  outline: 1px solid var(--current-blue);
}
