@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 25%; // 1rem = 4px
  font-family: "Poppins", sans-serif;

  @media only screen and (min-width: 320px) {
    font-size: 31.25%; // 1rem = 5px
  }

  @media only screen and (min-width: 440px) {
    font-size: 37.5%; // 1rem = 6px
  }

  @media only screen and (min-width: 478px) {
    font-size: 43.75%; // 1rem = 7px
  }

  @media only screen and (min-width: 768px) {
    font-size: 62.5%; // 1rem = 10px
  }
}

body {
  box-sizing: border-box;
}
