@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #e9847d;
}

html {
  font-size: 25%; // 1rem = 4px
  font-family: "Merriweather", serif;

  @media only screen and (min-width: 320px) {
    font-size: 31.25%; // 1rem = 5px
  }

  @media only screen and (min-width: 440px) {
    font-size: 37.5%; // 1rem = 6px
  }

  @media only screen and (min-width: 478px) {
    font-size: 43.75%; // 1rem = 7px
  }

  @media only screen and (min-width: 768px) {
    font-size: 62.5%; // 1rem = 10px
  }
}

body {
  box-sizing: border-box;
  font-size: 2em;
  font-weight: 700;
  background-color: #eee;
}

.carousel__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  overflow: hidden;
}

.carousel__slider {
  display: flex;
  gap: 2rem;
  width: 200%;
}

.carousel__card {
  position: relative;
  width: 16rem;
  min-height: 20rem;
  text-align: center;
  line-height: 20rem;
  font-size: 1.8em;
  text-underline-offset: 2px;
  // border: 1px solid rgb(70, 69, 69);
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.03);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 6px 6px 0 0;
  }
}
