.day-controller {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-controller > button {
  padding: 0.5em;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.day-controller > button:hover {
  background-color: var(--hover-gray);
}

.day-controller__back {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.day-controller__next {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.day-controller__btn {
  font-size: 1.25rem;
  min-width: 40%;
  border-radius: 8px;
}

.day-controller__back-icon {
  margin: 2px 0 0 5px;
}

.day-controller__next-icon {
  margin: 2px 0 0 5px;
}
