*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 31.25%; // 1rem = 5px
  scroll-behavior: smooth;

  @media only screen and (min-width: 360px) {
    font-size: 37.5%; // 1rem = 6px
  }

  @media only screen and (min-width: 478px) {
    font-size: 50%; // 1rem = 8px
  }

  @media only screen and (min-width: 768px) {
    font-size: 62.5%; // 1rem = 10px
  }
}
