@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-purple: #5b86e5;
  --primary-green: #34a853;
  --primary-grey: #8a8a8a;
  --primary-grey-light: #cecece;
  --primary-grey-faded: #ececec;
}

body {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

html {
  font-size: 31.25%; // 1rem = 5px
  scroll-behavior: smooth;

  @media only screen and (min-width: 360px) {
    font-size: 37.5%; // 1rem = 6px
  }

  @media only screen and (min-width: 478px) {
    font-size: 50%; // 1rem = 8px
  }

  @media only screen and (min-width: 768px) {
    font-size: 62.5%; // 1rem = 10px
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.datepicker {
  min-width: 45rem;
  min-height: 40rem;
  margin: 2rem 0;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  &__controls {
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    gap: 0.25rem;

    /* Styling the controls for the month and year */
    & div {
      border: none;
      display: block;
      padding: 0.25em 2em;
      width: 50%;
      background-color: var(--primary-purple);
      color: #fff;
      border-bottom: 1px solid transparent;
      transition: all 0.2s;

      &:hover,
      &:focus {
        cursor: pointer;
        background-color: #fff;
        color: var(--primary-purple);
        border-bottom: 1px solid currentColor;
      }

      &:active {
        transform: scale(0.8);
      }
    }

    /* Setting up border radius for the controls */
    .controls--month {
      border-radius: 4px 0 0 0;
    }

    .controls--year {
      border-radius: 0 4px 0 0;
    }
  }
}

.calendar {
  margin: 1.5rem 0;

  /* Serves as a wrapper for week and days */
  &__monthdays {
    transition: all 0.5s ease;
  }

  &__week {
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    color: var(--primary-grey);
    font-weight: 700;

    & > div {
      min-width: 5rem;
      text-align: center;
    }
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, minmax(5rem, 1fr));
    grid-auto-rows: minmax(6.4rem, auto);
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
    align-items: center;

    & div {
      font-size: 1.8rem;
      text-align: center;
      line-height: 2;
      width: 60%;
      height: 60%;
      border-radius: 100%;

      &:hover {
        cursor: pointer;
        background-color: var(--primary-grey-faded);
      }
    }
  }
}

/* Show and hide calendar grids */
.hide {
  transform: scale(0);
  opacity: 0;
}
