@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-purple: #5b86e5;
  --primary-green: #34a853;
  --primary-grey: #8a8a8a;
  --primary-grey-light: #cecece;
  --primary-grey-faded: #ececec;
}

body {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

html {
  font-size: 31.25%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (min-width: 478px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.datepicker {
  min-width: 45rem;
  min-height: 40rem;
  margin: 2rem 0;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.datepicker__controls {
  width: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  /* Styling the controls for the month and year */
  /* Setting up border radius for the controls */
}
.datepicker__controls div {
  border: none;
  display: block;
  padding: 0.25em 2em;
  width: 50%;
  background-color: var(--primary-purple);
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}
.datepicker__controls div:hover, .datepicker__controls div:focus {
  cursor: pointer;
  background-color: #fff;
  color: var(--primary-purple);
  border-bottom: 1px solid currentColor;
}
.datepicker__controls div:active {
  transform: scale(0.8);
}
.datepicker__controls .controls--month {
  border-radius: 4px 0 0 0;
}
.datepicker__controls .controls--year {
  border-radius: 0 4px 0 0;
}

.calendar {
  margin: 1.5rem 0;
  min-height: 35rem;
  position: relative;
  /* Styling the monthdays grid including the week and days */
  /* Serves as a wrapper for week and days */
  /* Styling the month grid */
}
.calendar__monthdays {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}
.calendar__week {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
  color: var(--primary-grey);
  font-weight: 700;
}
.calendar__week > div {
  min-width: 5rem;
  text-align: center;
}
.calendar__days {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  grid-template-columns: repeat(7, minmax(5rem, 1fr));
  grid-auto-rows: minmax(6.4rem, auto);
  margin: 0 auto;
}
.calendar__days div {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2;
  width: 60%;
  height: 60%;
  border-radius: 100%;
}
.calendar__days div:hover {
  cursor: pointer;
  background-color: var(--primary-grey-faded);
}
.calendar__months {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  grid-template-columns: repeat(3, minmax(5rem, 1fr));
  grid-auto-rows: minmax(8rem, auto);
  padding: 0 0.5rem;
}
.calendar__months div {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-grey);
  line-height: 8rem;
  width: 100%;
  min-height: 8rem;
  border-radius: 4px;
  transition: all 0.2s;
}
.calendar__months div:hover {
  cursor: pointer;
  background-color: var(--primary-grey-faded);
}
.calendar__months div:active {
  transform: scale(0.8);
}

/* Show and hide calendar grids */
.hide {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
